$color1 = #34495e
$color2 = #2c3e50

html
  position relative
  min-height 100%

body
  padding 0
  margin-bottom 60px
  

a:hover
  text-decoration underline

p
  line-height 24px
  margin-bottom 17px

table
  margin-bottom 15px

th, td
  border 1px dotted #ccc
  padding 5px 15px

th
  background-color $color1
  color #ffffff

div > p > img
  width 100%



.nav.subnav li
  &.active a
    border-left 3px solid #428bca
    margin-left -3px
  a
    padding 5px 5px

.nav > li > a > .glyphicon
  font-size 12px
  margin-left 6px


@media(max-width: 768px)
  .row .private
    margin-left 0
    padding-left 15px
    padding-top 40px
    .private--vertical-bar
      width 100%
      height 30px


/* expanded rows in the resource panels */
.list-group
  span
    p
      margin-bottom 0px
      margin-top 5px


/* footer of the resource panels */
.panel-footer
  padding 0px 20px 0px 0px
  text-align right
  a
    display block
    text-align right
    color #ADA9A9

/* styling for the private blog posts */
.panel-warning
  .panel-footer
    background-color #fcf8e3

span.glyphicon.glyphicon-lock
  color #555
  margin-right: 10px;
    
.private
  border solid 1px #999
  border-radius 3px
  margin 10px 0px 10px -45px
  padding 10px 10px 10px 45px
  position relative
  .glyphicon
    margin-left 7px
    margin-top 7px

.private--vertical-bar
  background-color #e7e7e7
  border-top-left-radius 3px
  border-bottom-left-radius 3px
  position absolute
  left 0
  top 0
  bottom 0
  width 30px


.footer
  position absolute
  bottom 0
  width 100%
  height 60px
  padding-top 6px

  color #ffffff
  background-color $color1
  border-top 1px solid #e7e7e7

  text-align center
  p
    margin 0

/* navbar styling */

.navbar-default
  background-color $color1
  border-color #e7e7e7
  
.navbar-default .navbar-nav > li > a:hover
  color #bdc3c7
  
.navbar-default .navbar-nav > .active > a
  background-color $color2
  color #ffffff
  
 .navbar-default .navbar-nav > .active > a:hover, .navbar-default  > a:hover
   background-color $color2
   color #bdc3c7
   
 

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand 
  color #ffffff

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
  color #bdc3c7

.wny
  height 381px
  width 283px
  
.centered_img
  height inherit
  width inherit
  max-width 100%
  display block
  margin-left auto
  margin-right auto
  
.author
  text-align right
  font-style italic

//blog colors

.panel-default > .panel-heading
  background-color $color1
  color #ffffff

//flat style for round corner

.panel, .panel-body, .modal-content, .panel panel-default, .list-group-item:first-child, .list-group-item:last-child, pre, .nav-tabs > li > a, .btn
  border-radius 0px
  
.panel-heading, .panel-footer
  border-top-left-radius 0px
  border-top-right-radius 0px
  border-bottom-left-radius 0px
  border-bottom-right-radius 0px
  
.modal-header 
    background-color $color1
    color #ffffff
    
.close 
    color #ffffff
    opacity inherit
    text-shadow 0 1px 0 #000
